@model IEnumerable<TekDesk.Models.Query>

@{
    ViewData["Title"] = "Index";
}


<h1 class="mb-4">All Queries</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Added)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tag)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr class="clickable" onclick="location.href = '@(Url.Action("Details", "Queries", new { id = item.QueryID } ))'">
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QState)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Added)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tag)
                </td>
            </tr>
        }
    </tbody>
</table>
