@model PaginatedList<TekDesk.Models.Solution>

@{
    ViewData["Title"] = "Index";
}

<h1>Solutions</h1>
<div class="row">
    <div class="col-md-5">
        <form asp-action="Index" method="get">
            <div class="form-actions no-color">
                <p class="my-auto">
                    Search by name: <input type="text" name="searchTerm" value="@ViewData["CurrentFilter"]" />
                    <input type="submit" value="Search" class="btn btn-outline-primary" />
                    <input type="hidden" name="queryID" value="@ViewData["queryID"]" />
                    <a asp-action="Index" asp-route-queryID="@ViewData["queryID"]" class="btn btn-secondary">Back to Full List</a>
                </p>
            </div>
        </form>
    </div>
</div>

<table class="table table-hover styled-table">
    <thead>
        <tr>
            <th>
                Description
            </th>
            <th>
                <a class="link" asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParam"]" asp-route-queryID="@ViewData["queryID"]">Date Added</a>
            </th>
            <th>
                Query
            </th>
            <th>
                Employee Added
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="clickable" onclick="location.href = '@(Url.Action("Details", "Solutions", new { id = item.ID } ))'">
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Added)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Query.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.FName)
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    var activePage = "";
}


<nav>
    <ul class="pagination justify-content-end">
        <li class="page-item @prevDisabled">
            <a asp-action="Index"
               asp-route-queryID="@ViewData["queryID"]"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNumber="@(Model.PageIndex - 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="btn btn-default page-link">
                Previous
            </a>
        </li>
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            if (Model.PageIndex + 1 == i)
            {
                activePage = "active";
            }
            <li class="page-item">
                <a class="page-link @activePage"
                   asp-action="Index"
                   asp-route-queryID="@ViewData["queryID"]"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-pageNumber="@i"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]">
                    @i
                </a>
            </li>
        }
        <li class="page-item @nextDisabled">
            <a asp-action="Index"
               asp-route-queryID="@ViewData["queryID"]"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNumber="@(Model.PageIndex + 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="btn btn-default page-link">
                Next
            </a>
        </li>
    </ul>
</nav>
